[user]
	name = jack-mil.rpi4
	email = 
[color]
	ui = true
[format]
	pretty = oneline
[log]
	abbrevCommit = true
	decorate = auto
[credential]
	helper = cache --timeout=86400
[github]
	user = jack-mil
[alias]
	lol = log --graph --oneline --decorate --all
	last = log -1 HEAD --format=medium
	unstage = reset HEAD --
	st = status
	cm = commit
