[alias]
	lol = log --graph --oneline --decorate --all
	l = log --pretty=format:'%C(magenta)%h%Creset %C(bold blue)<%an> %C(cyan)-%C(yellow)%d%Creset %s %C(brightgreen)(%cr) %Creset' --abbrev-commit --date=relative --graph
	last = log -1 HEAD --format=medium
	unstage = reset HEAD --
	s = status
	cm = commit
	amend = commit --amend
	br = branch
        co = checkout
[color]
	branch = auto
	diff = auto
	status = auto
	ui = true
[log]
	abbrevCommit = true
	decorate = auto
[credential]
	helper = cache --timeout=86400

