*                           text eol=lf
bash/bashrc.d/*_fzf-git.sh  linguist-vendored
mpv/shaders/**              linguist-generated
mpv/scripts/**              linguist-vendored
mpv/scripts/screenshot-folder.lua  -linguist-vendored

# vim: sw=8
