*                       text eol=lf
bash/fzf-git.sh         linguist-vendored
mpv/shaders/*           linguist-generated
mpv/scripts/*.lua       linguist-vendored
mpv/scripts/show-folder-screenshot.lua  -linguist-vendored

# vim: sw=8
