"$schema" = "https://yazi-rs.github.io/schemas/keymap.json"

[[mgr.prepend_keymap]]
  desc = "Filer files"
  on   = "F"
  run  = "filter --smart"

[[mgr.prepend_keymap]]
  desc = "Toggle media preview metadata"
  on   = "<F9>"
  run  = "plugin mediainfo -- toggle-metadata"

# https://yazi-rs.github.io/docs/tips/#close-input-by-esc
[[input.prepend_keymap]]
  desc = "Cancel input"
  on   = "<Esc>"
  run  = "close"

[[mgr.prepend_keymap]]
  # https://github.com/yazi-rs/plugins/tree/main/toggle-pane.yazi
  desc = "Hide or show preview"
  on   = "<A-p>"
  run  = "plugin toggle-pane min-preview"

[[mgr.prepend_keymap]]
  desc = "Maximize or restore preview"
  on   = "<A-P>"
  run  = "plugin toggle-pane max-preview"

[[mgr.prepend_keymap]]
  # https://github.com/yazi-rs/plugins/tree/main/jump-to-char.yazi
  desc = "Jump to char"
  on   = "f"
  run  = "plugin jump-to-char"

[[mgr.prepend_keymap]]
  # https://github.com/yazi-rs/plugins/tree/main/smart-enter.yazi
  desc = "Enter the child directory, or open the file"
  on   = "l"
  run  = "plugin smart-enter"

# https://yazi-rs.github.io/docs/tips/#parent-arrow
[[mgr.prepend_keymap]]
  on  = "K"
  run = "plugin parent-arrow -1"

[[mgr.prepend_keymap]]
  on  = "J"
  run = "plugin parent-arrow 1"

# https://github.com/yazi-rs/plugins/tree/main/zoom.yazi
[[mgr.prepend_keymap]]
  desc = "Zoom in hovered file"
  on   = "+"
  run  = "plugin zoom 2"

[[mgr.prepend_keymap]]
  desc = "Zoom out hovered file"
  on   = "_"
  run  = "plugin zoom -2"

[[mgr.prepend_keymap]]
  # https://github.com/yazi-rs/plugins/tree/main/vcs-files.yazi
  desc = "Show Git file changes"
  on   = ["g", "c"]
  run  = "plugin vcs-files"

[[mgr.prepend_keymap]]
  # https://yazi-rs.github.io/docs/tips#cd-to-git-root
  desc = "Goto git root dir"
  for  = "unix"
  on   = ["g", "r"]
  run  = 'shell -- ya emit cd "$(git rev-parse --show-toplevel)"'

[[mgr.prepend_keymap]]
  on = [ "g", "d" ]
  run = "cd $XDG_DOWNLOAD_DIR"
  desc = "Go ~/downloads"

[[mgr.prepend_keymap]]
  on = [ "g", "v" ]
  run = "cd $XDG_VIDEOS_DIR"
  desc = "Go ~/videos"

[[mgr.prepend_keymap]]
  # https://yazi-rs.github.io/docs/tips#cd-to-git-root
  desc = "Goto git root dir"
  for  = "windows"
  on   = ["g", "r"]
  run  = '''shell -- for /f %A in ('git rev-parse --show-toplevel') do ya emit cd %A'''

[[mgr.prepend_keymap]]
  # https://yazi-rs.github.io/docs/tips/#smart-tab
  desc = "Create a tab and enter the hovered directory"
  on   = "t"
  run  = "plugin smart-tab"

[[mgr.prepend_keymap]]
  desc = "Open $SHELL here"
  for  = "unix"
  on   = "!"
  run  = 'shell "$SHELL" --block'

[[mgr.prepend_keymap]]
  # https://yazi-rs.github.io/docs/tips/#selected-files-to-clipboard
  on = "y"
  run = [
    'shell -- for path in %s; do echo "file://$path"; done | wl-copy -t text/uri-list',
    "yank",
  ]
