// vim: foldmarker={,} foldmethod=marker tabstop=4

// https://yalter.github.io/niri/Configuration%3A-Introduction.html

// https://yalter.github.io/niri/Configuration%3A-Miscellaneous.html
hotkey-overlay { skip-at-startup; } // Don't show Mod+Shift+/ at startup

prefer-no-csd // ask applications to omit client-side decorations

overview { backdrop-color "#1d1621"; }

// Environment Variables
environment {
  // QT on wayland
  // QT_QPA_PLATFORM "wayland;xcb"
  // QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
  // Because I installed KDE and used it's settings (this may break things?)
  // XDG_CURRENT_DESKTOP "KDE"
  // Stupid electron apps
  ELECTRON_OZONE_PLATFORM_HINT "auto"
  ELECTRON_ENABLEWAYLAND "1"
  // Firefox
  MOZ_ENABLE_WAYLAND "1" 
  // Interactive
  EDITOR "nvim"
  SSH_AUTH_SOCK "/run/user/1000/ssh-agent.socket"
  // To handle nerd-fonts icons correctly
  // defined here so kitty picks it up
  LESSUTFCHARDEF "e000-e09f:w,e0a0-e0bf:p,e0c0-f8ff:w,f0001-fffff:w" 
  // Stupid NVIDIA
  __GL_SHADER_DISK_CACHE_PATH "~/.cache/nv"
}

// A ~ at the front will be expanded to the home directory.
// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/pictures/Screenshots/screenshot-%Y-%m-%d-%H-%M-%S.png"

// Input device configuration.
// https://yalter.github.io/niri/Configuration%3A-Input.html
input {
    mod-key "Super"  // AKA Windows key
    keyboard {
        xkb {
            // For more information, see xkeyboard-config(7).
            // For example:
            // options "grp:win_space_toggle,compose:ralt,ctrl:nocaps"
            options "ctrl:nocaps"
        }
        // Enable numlock on startup, omitting this setting disables it.
        numlock
    }

    // https://github.com/YaLTeR/niri/wiki/Configuration:-Input#pointing-devices
    mouse { accel-profile "flat"; } // No mouse acceleration
    touchpad { tap; natural-scroll; }
    // trackpoint { }
    
    // Make the mouse warp to the center of newly focused windows.
    warp-mouse-to-focus

    // Focus windows and outputs automatically when moving the mouse into them.
    // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
    // focus-follows-mouse max-scroll-amount="5%"
}

// `niri msg outputs
// https://yalter.github.io/niri/Configuration%3A-Outputs.html
// Vizio TV
output "HDMI-A-1" {
    mode "3840x2160@23.976"
    scale 2
}
// New Acer monitor
output "DP-3" {
  mode "2560x1440@143.912"
  // scale 1.5
  position x=-1920 y=0
}

// Settings that influence how windows are positioned and sized.
// https://yalter.github.io/niri/Configuration%3A-Layout.html
layout {
    empty-workspace-above-first // keep free worskpace above _and_ below

    // in logical pixels. remove top/bottom gaps using negative struts below
    gaps 8
    
    // Slight gaps on left/right that shows windows off-screen
    struts { left 10; right 10; top -8; bottom -8; }

    // When to center a column when changing focus, options are:
    // - "never", default behavior, focusing an off-screen column will keep at the left
    //   or right edge of the screen.
    // - "always", the focused column will always be centered.
    // - "on-overflow", focusing a column will center it if it doesn't fit
    //   together with the previously focused column.
    center-focused-column "never"
    always-center-single-column

    // widths that "switch-preset-column-width" (Mod+R) toggles between.
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    // heights that "switch-preset-window-height" (Mod+Shift+R) toggles between.
    preset-window-heights {
      proportion 0.2
      proportion 0.4
      proportion 0.5
      proportion 0.8
      proportion 1.0
    }

    //use active/inactive border instead of focus run
    focus-ring { off; }

    // always visible window border + active color
    border {
        width 2
        // Teal to Lavender (Macchiato)
        active-gradient from="#8bd5ca" to="#b7bdf8" in="oklch shorter hue" angle=45 
        // Surface 1 to Overlay 0 (Frappé)
        inactive-gradient from="#51576d" to="#737994" angle=45 in="oklch shorter hue"
        // Peach to Red (Macchiato)
        urgent-gradient from="#f5a97f" to="#ed8796" in="oklch shorter hue" angle=45 
    }

    insert-hint {
      // Same gradient as active above (transparent 50%)
        gradient from="#8bd5ca7f" to="#b7bdf875" in="oklch increasing hue" angle=45 
    }

    // tabbed columns with bottom indicator
    tab-indicator {
        // color matches border (i think) 
        place-within-column
        width 4
        gap -8
        corner-radius 2
        length total-proportion=0.6
        position "bottom"
        gaps-between-tabs 4
    }

    // Shadows are configured here but disable by default (only on for floating windows)
    shadow { 
      draw-behind-window true
      offset x=0 y=0
      softness 10
      spread 4
      color "#0008"
    }
}

// https://yalter.github.io/niri/Configuration%3A-Recent-Windows.html
recent-windows {
  highlight {
    corner-radius 6
    active-color "#b7bdf8"
  }
}

// https://yalter.github.io/niri/Configuration%3A-Window-Rules.html
// Enable rounded corners for all windows.
window-rule {
    geometry-corner-radius 6 
    clip-to-geometry true
    draw-border-with-background false
}

// All floating window styling (orange border)
window-rule {
  match is-floating=true
  shadow { on; }
  border {
    on
    // Inherits inactive and urgent gradients from regular windows
    // Peach to Yellow (Mocha)
    active-gradient from="#fab387" to="#f9e2af" angle=45 in="oklch shorter hue" relative-to="workspace-view"
  }
}

// Red/Yellow urgent border for LIVE screenshare windows
window-rule {
  match is-window-cast-target=true
  border {
    active-gradient from="#f5a97f" to="#ed8796" in="oklch shorter hue" angle=45 
    //decrease brightness when inactive (transparency)
    inactive-gradient from="#f5a97f85" to="#ed87968f" in="oklch shorter hue" angle=45 
  }
  shadow {
    on
    // red glow
    color "#ed879675" 
  }
}

// Include application window overrides (floating, etc)
include "rules.kdl"

// Layer rules apply to shell layer (overlays, bars, backgrounds, etc)
// Block out mako notifications from screencasts.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Layer-Rules
layer-rule {
    match namespace="^notifications$"
    block-out-from "screencast"
}

// shadow for fuzzel (launcher)
layer-rule {
    match namespace="^launcher$"
    shadow { on; }
    // Fuzzel set to 10 px rounded corners.
    geometry-corner-radius 10
}

// Animation settings.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Animations
animations { 
}

// Include keyboard bindings
include "binds.kdl"
