// Specific application window overrides for Niri

// Generally want browser windows larger by default
window-rule {
    match app-id=r#"(firefox|librewolf)$"#
    default-column-width { proportion 0.65; }
}

// Firefox sub windows
window-rule {
  match app-id=r#"(firefox|librewolf)$"# title=r#"^Library$"#
  match app-id=r#"(firefox|librewolf)$"# title=r#"^About"#
  open-floating true
  // default-window-height { proportion 0.8; }
  default-column-width { proportion 0.8; }
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    match app-id=r#"(firefox|librewolf)$"# title="^Picture-in-Picture$"
    open-floating true
    default-floating-position x=32 y=32 relative-to="bottom-right" 
}


// Small applets should float
window-rule {
  match app-id=r#"^(org\.pulseaudio\.pavucontrol)$"#
  match app-id=r#"^(org\.gnome\.Calculator)$"#
  match app-id=r#"^(org\.kde\.ark)$"#
  match app-id=r#"xpad"#
  open-floating true
}

// Fullwidth apps
window-rule {
  match app-id="gimp"
  // add more as needed
  open-maximized true
}

// Games in fullscreen
window-rule {
  match app-id="Stardew Valley"
  match app-id=r#"(GT:\sNew\sHorizons\s\d.\d.\d)$"#
  open-fullscreen true
  open-floating false
}

window-rule {
  match app-id=r#"(org\.prismlauncher\.PrismLauncher)$"#
  default-column-width { proportion 0.333; }
  default-window-height { proportion 0.5; }
}

// Kitty terminal as a popup menu used by various scripts
window-rule {
  match app-id="kitty-menu"
  open-floating true
  open-focused true
  default-window-height { proportion 0.6; }
  default-column-width { proportion 0.6; }
}

// spotify_player TUI launched in kitty with custom app-id
window-rule {
  match app-id="spotify"
  open-floating true
  default-column-width { fixed 1280; }
  default-window-height { fixed 648; }
  default-floating-position x=30 y=30 relative-to="top-left"
  open-on-output "eDP-1"
}

// Open DMS windows (settings panel) as floating by default
window-rule {
    match app-id=r#"org.quickshell$"#
    open-floating true
    default-column-width { proportion 0.4; }
}

