// Keyboard binds mainly for interaction with DMS 
binds {
    // shows a list of important hotkeys.
    Mod+Shift+Slash { show-hotkey-overlay; }
   
    // application launch shortcuts
    Mod+T hotkey-overlay-title="Open kitty" { spawn "kitty" "--single-instance" "--instance-group='niri'"; }
    Mod+Shift+T hotkey-overlay-title="Open kitty (new process)" { spawn "kitty"; }

    Mod+B hotkey-overlay-title="Open librewolf" { spawn "librewolf"; }
    Mod+Shift+B hotkey-overlay-title="Open librewolf (private)" { spawn "librewolf" "--private-window"; }
    Mod+E hotkey-overlay-title="Open files" { spawn "dolphin"; }

    Print hotkey-overlay-title="Screenshot Active Display" { screenshot-screen write-to-disk=true show-pointer=false; }
    Mod+S hotkey-overlay-title="Screenshot Region" { screenshot show-pointer=false; }
    Mod+Shift+S hotkey-overlay-title="Screenshot Region (markup)" { spawn "dms" "ipc" "call" "niri" "screenshot"; }
    Mod+Ctrl+Shift+S hotkey-overlay-title="Screenshot Window" {
      spawn "sh" "-c" r#"niri msg action screenshot-window --id="$(niri msg --json pick-window | jq .id)""#; 
    }

    Mod+Shift+C hotkey-overlay-title="Pick Color" { 
      spawn "dms" "color" "pick" "--autocopy"; 
    }

    // Open/close the Overview
    Mod+O repeat=false { toggle-overview; }

    // --- DSM IPC commands ---
    Mod+Tab hotkey-overlay-title="Toggle topbar" {
      spawn "dms" "ipc" "call" "bar" "toggle" "index" "0";
    }

    Ctrl+Alt+Delete hotkey-overlay-title="Power/Lock menu" {
      spawn "dms" "ipc" "call" "powermenu" "toggle";
    }
    Mod+Shift+O hotkey-overlay-title="Power/Lock menu" {
      spawn "dms" "ipc" "call" "powermenu" "toggle";
    }

    Mod+Space hotkey-overlay-title="Application Launcher" { 
        spawn "dms" "ipc" "call" "spotlight" "toggle"; 
    }

    Mod+P hotkey-overlay-title="Clipboard Manager" { 
        spawn "dms" "ipc" "call" "clipboard" "toggle"; 
    }

    Mod+M hotkey-overlay-title="Task Manager" { 
        spawn "dms" "ipc" "call" "processlist" "toggle"; 
    }

    Mod+Shift+P hotkey-overlay-title="Settings" { 
        spawn "dms" "ipc" "call" "settings" "toggle"; 
    }

    Mod+N hotkey-overlay-title="Notification Center" {
        spawn "dms" "ipc" "call" "notifications" "toggle"; 
    }

    Mod+Shift+N hotkey-overlay-title="Notepad" {
      spawn "dms" "ipc" "call" "notepad" "toggle";  
    }
    
    Mod+Alt+L hotkey-overlay-title="Lock Screen" { 
        spawn "dms" "ipc" "call" "lock" "lock"; 
    }

    // Audio
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn "dms" "ipc" "call" "audio" "increment" "2";
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn "dms" "ipc" "call" "audio" "decrement" "2";
    }
    XF86AudioMute allow-when-locked=true {
        spawn "dms" "ipc" "call" "audio" "mute";
    }
    XF86AudioMicMute allow-when-locked=true {
        spawn "dms" "ipc" "call" "audio" "micmute";
    }
    
    // backlight (laptop only...)
    XF86MonBrightnessUp allow-when-locked=true {
       spawn "dms" "ipc" "call" "brightness" "increment" "5" "";
    }
    XF86MonBrightnessDown allow-when-locked=true {
       spawn "dms" "ipc" "call" "brightness" "decrement" "5" "";
    }  
   
    // Media control keys
    XF86AudioPlay allow-when-locked=true {
      spawn "dms" "ipc" "call" "mpris" "playPause";
    }
    XF86AudioPause allow-when-locked=true {
      spawn "dms" "ipc" "call" "mpris" "playPause";
    }
    XF86AudioStop allow-when-locked=true {
      spawn "dms" "ipc" "call" "mpris" "stop";
    }
    XF86AudioPrev allow-when-locked=true {
      spawn "dms" "ipc" "call" "mpris" "previous";
    }
    XF86AudioNext allow-when-locked=true {
      spawn "dms" "ipc" "call" "mpris" "next";
    }
}
