[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swayosd-server
Slice=background.slice
Restart=on-failure

[Install]
WantedBy=niri.service
