/* Terminal style */
VteTerminal, vte-terminal {
    padding: 10px 14px 10px 14px;
}
/* Panel style */
.xfce4-panel {
    border-radius: 20px;
}

/* nord colors */
wnck-pager{
	color:#8fbcbb;
}
wnck-pager:selected{
	background-color:#d8dee9;
}
wnck-pager:hover{
	background-color:#4c566a;
}

#pager-23 > grid > button:checked {
	background-color:#8fbcbb;
}
#pager-23 > grid > button:hover {
	background-color:#4c566a;
}


.tasklist button {
	border: 2px;
	border-radius: 2px;
	background: none;
}

.tasklist button:checked {
	box-shadow:0px 3px #8fbcbb inset;
	color: #8fbcbb;
}

window.xfce4-panel widget > box > button > image{
   padding: 0.2em 0.16em;  -gtk-icon-transform: scale(0.8);
}

/* auto added scaling */
window#whiskermenu-window treeview>* {
  padding:0.2em 0.16em;
}

#xfce4-notification-plugin image {
	-gtk-icon-transform: scale(0.85) translateY(3px);
}
#pulseaudio-button image {
	-gtk-icon-transform: scale(0.9);
}
#xfce4-power-manager-plugin image {
	-gtk-icon-transform: scale(0.75);
}


